# Ignore datasets folder
dataset/
coco/
dataset_cap/
models_lime_cal/
models_lime/
models_pca_cal/
models_pca/
clip_features/

# Ignore all .joblib files anywhere
*.joblib

# Ignore all __pycache__ folders recursively
__pycache__/
**/__pycache__/